.dashboard-header {
    background-color: #005073;
    height: 10vh;
}

.dashboard-content-header  {
    color: #f4f4f4 ;
    font-size: 3.5vh;
    stroke: #cccccc;
    display: flex;
    font-family: sans-serif;
    margin: 15px 5px 0px 0px;
    background: #005073;
}
.dashboard-content  {
    color: #f4f4f4;
    font-size: 2.5vh;
    stroke: #cccccc;
    display: flex;
    font-family: sans-serif;
    margin-left:auto;
    flex-direction:end;
}

.dashboard-content-link{
    color:#f4f4f4 !important;
}

.notification  svg {
    fill:#f4f4f4
}

.notification {
    background: #005073 !important;
}

.notification-container{
    margin-right:0px !important
}

.popover-header{
    color:#005073;
}